html, body, #root {
  margin: 0;
  height: 100%;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Josefin Slab', serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

hr {
  height: 1px;
  border: none;
  background-color: lightgray;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

fountain-work {
  width: 50%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
  font-family: 'Kalam', cursive;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.title-h1 {
  position: relative;
  top: 9px;
  left: 20px;
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  position: relative;
  top: -18px;
  left: 20px;
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}
.title-constraint {
  position: relative;
  max-width: 1280px;
  width: 100%;
  text-align: center;
}
.title-seal {
  background: #fff;
  width: 85px;
  height: 85px;
  position: absolute;
  left: 150px;
  top: 52px;
  border-radius: .5rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-seal img {
  width: 95%;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.techs-container {
  margin: 1rem;
}

.container-title {
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  font-size:2rem;
  font-family: 'EB Garamond', serif;
}

.techs, .works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  height: 15rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.item-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}

.item-title {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.works .item-logo {
  width: 9rem;
  height: auto;
  margin: .5rem 1rem;
}

.works .item-title {
  display: inline;
}

.techs .item {
  width: 15rem;
}

.works .item {
  height: auto;
}
.link-image-container {
  display: flex;
}
.link-image-container fountain-link-image:first-child {
  margin: .5rem .5rem 0 0;
}
.link-image-container fountain-link-image:last-child {
  margin: .5rem 0 0 .5rem;
}
fountain-link-image {
  flex: 1;
}
.link-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: 100%;
  height: 5rem;
  border-radius: .7rem;
  cursor: pointer;
}
.link-image p {
  color: #222;
  font-size: 1.5rem;
  z-index: 1;
  pointer-events: none;
}
.link-image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  transition: opacity 1s;
}
.link-image-mask:hover {
  opacity: 0.6;
}
